# 编译产物和构建文件
build/
dist/

# 日志和临时文件
*.log
*.tmp
.DS_Store

# Node.js
node_modules/

# Python
__pycache__/
*.pyc

# 环境变量
.env
.env.*

# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# 不忽略重要的配置文件
!config.prod.json